.svn
.hg
auto-save-list/
cache/
el-get/
private.el
ac-comphist.dat
tramp
session.*
*.elc
/bookmarks
/url/cookies
elpa
custom.el
var/
custom.el*
private.el*
packages/
projectile-bookmarks.eld
anaconda-mode/
